<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Signup</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
<form [formGroup]="signupForm">
    <div fxFlex fxLayout="column">
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="signupForm.controls.username.touched && signupForm.controls.username.invalid">
                <span *ngIf="signupForm.controls.username.errors.required">This field is mandatory.</span>
                <span *ngIf="signupForm.controls.username.errors.pattern">This field is invalid.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" required>
            <mat-error *ngIf="signupForm.controls.fullName.touched && signupForm.controls.fullName.invalid">
                <span *ngIf="signupForm.controls.fullName.errors.required">This field is mandatory.</span>
                <span *ngIf="signupForm.controls.fullName.errors.pattern">This field is invalid.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory.</span>
                <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Contact Number</mat-label>
            <input matInput formControlName="phone" required>
            <mat-error *ngIf="signupForm.controls.phone.touched && signupForm.controls.phone.invalid">
                <span *ngIf="signupForm.controls.phone.errors.required">This field is mandatory.</span>
                <span *ngIf="signupForm.controls.phone.errors.pattern">This field is invalid.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory.</span>
                <span *ngIf="signupForm.controls.password.errors.pattern">This field is invalid.</span>
            </mat-error>
        </mat-form-field>
    </div>
</form>
</mat-dialog-content>
<mat-dialog-actions align="center">
<button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
[disabled]="!(signupForm.valid && signupForm.dirty)">Signup</button>
<button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>