<mat-card>
    <b><span>Booked Tickets</span></b>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="busName">
            <th mat-header-cell *matHeaderCellDef> Bus Name</th>
            <td mat-cell *matCellDef="let element">{{element?.bus?.busName}}</td>
        </ng-container>

        <ng-container matColumnDef="journyDate">
            <th mat-header-cell *matHeaderCellDef> Journy Date</th>
            <td mat-cell *matCellDef="let element">{{element.journyDate}}</td>
        </ng-container>

        <ng-container matColumnDef="seats">
            <th mat-header-cell *matHeaderCellDef> Seats</th>
            <td mat-cell *matCellDef="let element">{{element.seats}}</td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From</th>
            <td mat-cell *matCellDef="let element">{{element?.bus?.from}}</td>
        </ng-container>

        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To</th>
            <td mat-cell *matCellDef="let element">{{element?.bus?.to}}</td>
        </ng-container>

        <ng-container matColumnDef="arivalTime">
            <th mat-header-cell *matHeaderCellDef> Arrival Time</th>
            <td mat-cell *matCellDef="let element">{{element?.bus?.arivalTime}}</td>
        </ng-container>

        <ng-container matColumnDef="departTime">
            <th mat-header-cell *matHeaderCellDef> Depart Time</th>
            <td mat-cell *matCellDef="let element">{{element?.bus?.departTime}}</td>
        </ng-container>

        <ng-container matColumnDef="fare">
            <th mat-header-cell *matHeaderCellDef> Fare</th>
            <td mat-cell *matCellDef="let element">{{element?.fare}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Cancel Booking" (click)="handleCancelAction(element)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr> 
    </table>
</div>