<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About US</h2>
        </div>
        <div style="font-size: 15px;" id="about">
            A bus reservation system is a web or mobile software solution that brings high automation and personalized user experience to simplify the ticket booking and purchasing process for customers.

            According to TechNavio’s report, the global online bus ticketing service market is expected to grow at a CAGR of over 25% during 2018-2022.
            
            In this article, we want to cover the key aspects of the online bus seat booking system, must-have features for customers and owners, and the development process step-by-step.
        <div>
            <br>
    </div>
</div>